@model RAMHX.CMS.DataAccess.app_Configs
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Configurations</h2>
<h4>Configurations details</h4>
<div>
    <hr />
    <h3>Are you sure you want to delete this?</h3>
    <dl class="dl-horizontal">
        <dt>
            #Group Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>

        <dt>
            #Item Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>
        <dt>
            Active?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            Short Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt>
            Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>