@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BOBROA</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Assets/BobroaStyle.css")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jstree")*@
    <link href="~/Areas/Admin/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/Fontawesome/font-awesome.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>
</head>
<body>
    

    <div class="container1 body-content">
        @RenderBody()

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Areas/Admin/Assets/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".body-content").find("h2").first().hide();
        });
    </script>
</body>
</html>